.logo{
    height: 50px;
}
.nav{
    background-color: #fff;
    box-shadow: 0 0 0.25rem #000;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}
.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    margin-right: 10px;
}

.nav ul li a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    letter-spacing: 3.4px;
    text-transform: uppercase;
    
}


@media screen and (max-width:576px){
    .nav-flex{
        flex-direction: column;
    }

    .nav-flex ul li a{
        font-size: 10px;
    }
}